@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

body {
    padding:0px;
    margin:0px;
    /* background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/bg.png") center center; */
    background:url("/assets/bg.png") center center;
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* background:rgb(255, 50, 50); */
    background:rgb(110, 181, 141);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fff;
    /* border-bottom:12px solid rgb(255, 50, 50); */
    border-bottom:12px solid rgb(110, 181, 141);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    /* background:rgb(255, 50, 50); */
    background:rgb(110, 181, 141);
}
.box2 {
    /* background:rgb(255, 50, 50); */
    background:rgb(110, 181, 141);
    margin-left:-5px;
}
#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#fff;
    text-decoration:underline;
}
#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}
#middle h1 {
    color:rgb(110, 181, 141);
    font-size:100px;
    font-weight: 800;
    margin-bottom: 0px;
}
.t {
    font-size:40px;
    font-weight: 300;
    color:rgb(110, 181, 141);
    margin-top: 20px;
}

#sponsors {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    background: transparent;
    color: #000;
    position: fixed;
    top: 0;
    right: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-radius: 0px 0px 100px 100px;
}
#sponsors:hover {
    cursor:pointer;
    color: #f9c921;
    transform: translateY(20px);
}
#sponsors::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url('/assets/flecha-up.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 50px;
    transition: background-position 0.3s ease;
    opacity: 0; 
}
#sponsors:hover::after {
    background-position: center top;
    opacity: 1;
}

#about {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    font-weight: 500;
    transform:rotate(-90deg);
    background:transparent;
    color:#000;
    position:fixed;
    left:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#about:hover {
    cursor:pointer;
    color: #f9c921;
    transform: rotate(-90deg) translateY(20px);
}
#about::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url('/assets/flecha-up.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 50px;
    transition: background-position 0.3s ease;
    opacity: 0;
}
#about:hover::after {
    background-position: center top;
    opacity: 1;
}
#village {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    font-weight: 500;
    transform:rotate(90deg);
    background:transparent;
    color:#000;
    position:fixed;
    right:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#village:hover {
    cursor:pointer;
    color: #f9c921;
    transform: rotate(90deg) translateY(20px);
}
#village::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url('/assets/flecha-up.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 50px;
    transition: background-position 0.3s ease;
    opacity: 0;
}
#village:hover::after {
    background-position: center top;
    opacity: 1;
}
#contact {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    font-weight: 500;
    background:transparent;
    color:#000;
    position:fixed;
    bottom:0;
    left:45vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:100px 100px 0px 0px;
}
#contact:hover {
    cursor:pointer;
    color: #f9c921;
    transform: translateY(-20px);
}
#contact::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/flecha-down.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 50px;
    transition: background-position 0.3s ease;
    opacity: 0;
}
#contact:hover::after {
    background-position: center top;
    opacity: 1;
}
#middle table {
    width:30%;
    margin:6vh auto;
    margin-top: 0px;
}
#middle table tr td {
    text-align:center;
}
.social {
    color:#fff;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social:hover { 
    cursor: pointer;
    /* color:rgb(255, 50, 50); */
    color:rgb(110, 181, 141);
}
.container {
    width:90vw;
    height:90vh;
    padding:5vh 5vw;
    /* background:rgb(255, 50, 50); */
    background:rgb(110, 181, 141);
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.container div {
    /* font-size:25px; */
    /* margin:20px; */
    transition:0.4s ease-in-out;
}
.container div:hover {
    cursor:pointer;
}
.container section {
    margin:8vh 0px;
}
#village_container, #contact_container, #about_container, #sponsors_container {
    background:url("/assets/bg-01.png") center center;
}
#used div{
    font-size:14px !important;
    display:inline-block;
    padding:8px 10px;
    border:2px solid #fff;
    margin:0px 10px;
    border-radius:50px;
}
#used:hover {
    cursor:text;
}
#used div:hover {
    cursor:text;
}
.container h1 {
    font-size:60px;
    text-decoration:underline;
}
.container p {
    font-size:21px;
}
.btn_one {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    background:transparent;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    cursor:pointer;
    /* color:rgb(255, 50, 50); */
    color:rgb(110, 181, 141);
    background:#fff;
}
.btn_two {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    /* color:rgb(255, 50, 50); */
    background:rgb(110, 181, 141);
    background:#fff;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_two:hover {
    cursor:pointer;
    padding:8px 60px;
}
.container form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.container form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.container form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
.container form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
::placeholder {
    color:#fff;
}
#footer {
    color:#fff;
    width:92vw;
    padding:5vh 4vw;
    text-align:right;
    position:fixed;
    z-index:1;
    bottom:0;
    font-size:16px;
    font-weight:bold;
}
#footer a {
    /* color:rgb(255, 50, 50) ; */
    color:rgb(110, 181, 141);
}
#particles-js {
    position:fixed;
    width:100vw;
    height:100vh;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    /* background: rgb(255, 50, 50);  */
    background:rgb(110, 181, 141);
}
::-webkit-scrollbar-thumb:hover {
    /* background: rgba(255, 50, 50,0.8);  */
    background:rgba(110, 181, 141, 0.8);
}
::selection {
	color: #fff;
	/* background: rgb(255, 50, 50); */
  background:rgb(110, 181, 141);
}


/* .us { */
/*     display: flex; */
/*     align-items: center; */
/*     margin-top: 150px; */
/* } */

.contenedor-romboide {
    width: 200px;
    height: 200px; 
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-romboide a {
    display: block;
    width: 100%;
    height: 100%;
}

.contenedor-romboide img {
    width: 100%;
    height: 100%;
}

button.button{
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin:4px;
  filter: grayscale(50%);
  background-size:400%;
  background-position:center;
  border-radius:50%;
  border-color:transparent;
  transition: all 100ms ease-in-out;
}
button.button span {
  opacity:1;
  transition: opacity 100ms ease-in-out;
}

#village-title-01, #village-title-02 {
  font-size: 50px;
  font-weight: 800;
}

#mision-01, #mision-02, #mision-03, #mision-04 {
  font-size: 15px;
  font-weight: 100;
}

#contact-us {
    margin-left: 20px;
    color: #f9c921;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#about-title {
    margin-left: 20px;
    color: #f9c921;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#sponsors-title {
    margin-left: 20px;
    color: #f9c921;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.bio-container {
    position: absolute;
    top: 200px;
    left: 50px;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    width: 15%;
  h2 {
    font-size:25px;
    margin: 0px;
    text-align: center;
  }
  p {
    font-size: 15px;
    font-weight: 200;
    /* text-align: justify; */
  }
}

.sp-container {
    position: absolute;
    bottom: 50px;
    /* left: 0px; */
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: flex-end;
}

.sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 10px; */
    width: 25%;
    color: rgb(110, 181, 141);
    background-color: #305757;
    border-radius: 50px 50px 0 0;
    margin: 10px;
    padding: 50px;
  h2 {
    font-size:20px;
    margin: 0px;
    text-align: center;
  }
  p {
    font-size: 15px;
    font-weight: 200;
  }
}

.sponsors_info {
  color: #fff;
  border: 1px solid #fff;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
}

#sponsors-title, #about-title, #contact-us {
  font-size: 45px;
}

.form {
  position: absolute; 
  top:250px; 
  left: 200px; 
  width: 30%"
}

.village {
  position: absolute; 
  top: 100px; 
  left: 200px; 
  width: 40%;
}

#f1 {
  position: absolute; 
  top:0; 
  left: 10px;
  opacity: 1;
}

#f2 {
  position: absolute; 
  bottom:-300px; 
  right: 100px;
  opacity: 1;
}

#f3 {
  position: absolute; 
  bottom:250px; 
  right: -100px;
  opacity: 1;
}

#f4 {
  position: absolute; 
  top:0; 
  right: 10px;
  opacity: 1;
}

/* For tablet */
@media (max-width: 1400px){ 
    .container {
        overflow-x: hidden;
        section {
          margin: 0vh 0px;
        }
    }

    .sp {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-right: 10px; */
        width: 70%;
        color: rgb(110, 181, 141);
        background-color: #305757;
        border-radius: 50px 50px 0 0;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        margin: 10px;
      h2 {
        font-size:20px;
        margin: 0px;
        text-align: center;
      }
      p {
        font-size: 15px;
        font-weight: 200;
      }
    }

    .bio-container {
        position: absolute;
        top: 250px;
        left: 5%;
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

    .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 10px;
        width: 15%;
      h2 {
        font-size:20px;
        margin: 0px;
        text-align: center;
      }
      p {
        font-size: 12px;
        font-weight: 200;
        /* text-align: justify; */
      }
    }

    .contenedor-romboide {
        width: 100px;
        height: 100px; 
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-romboide a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .contenedor-romboide img {
        width: 100%;
        height: 100%;
    }

    #f4 {
      opacity: 0.2;
    }

}

/* For mobile */
@media (max-width: 800px){ 
    #middle {
        width:90vw;
        padding:0px 5vw;
    }
    #middle h1 {
        color:rgb(110, 181, 141);
        font-size:80px;
        font-weight: 800;
        margin-bottom: 0px;
    }
    #contact-us {
        margin-left: 20px;
        color: #f9c921;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 30px;
    }

    #about-title {
        margin-left: 20px;
        color: #f9c921;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 30px;
    }

    #sponsors-title {
        margin-left: 20px;
        color: #f9c921;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 30px;
    }

    .form {
      position: absolute; 
      top:250px; 
      left: 0px; 
      width: 90%;
    }

    .village {
      position: absolute; 
      top: 0px; 
      left: 20px; 
      width: 90%;
    }

    #village-title-01, #village-title-02 {
      font-size: 30px;
      font-weight: 800;
    }

    #f1 {
      opacity: 0;
    }

    #f2 {
      opacity: 0.2;
    }

    #f3 {
      opacity: 0.2;
    }

    #f4 {
      opacity: 0;
    }

    #contact {
      left: 25vw;
    }

    #sponsors:hover::after {
        opacity: 0;
    }

    #contact:hover::after {
        opacity: 0;
    }

    #village:hover::after {
        opacity: 0;
    }

    #about:hover::after {
        opacity: 0;
    }

    .sp-container {
        flex-direction: column;
        position: absolute;
        top: 550px;
        display: flex;
        justify-content: center;
        width: 100%;
        /* align-items: flex-end; */
    }

    .sp {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-right: 10px; */
        width: 70%;
        color: rgb(110, 181, 141);
        background-color: #305757;
        border-radius: 50px 50px 0 0;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
      h2 {
        font-size:20px;
        margin: 0px;
        text-align: center;
      }
      p {
        font-size: 15px;
        font-weight: 200;
      }
    }

    .sponsors_info {
      color: #fff;
      border: 1px solid #fff;
      font-size: 15px;
      border-radius: 20px;
      padding: 10px;
    }

    .bio-container {
        position: absolute;
        top: 200px;
        left: 50px;
        display: flex;
        /* justify-content: space-around; */
        flex-direction: column;
        width: 90%;
    }

    .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 10px;
        width: 80%;
      h2 {
        font-size:25px;
        margin: 0px;
        text-align: center;
      }
      p {
        font-size: 15px;
        font-weight: 200;
        /* text-align: justify; */
      }
    }

}
